/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: 1px solid var(--global-border-color);

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: var(--global-border-color);
  border-bottom: 1px solid var(--global-border-color);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid var(--global-border-color);
}

td {
  padding: 0.5em;
  border-bottom: 1px solid var(--global-border-color);
  border-right: 1px solid var(--global-border-color);
}

tr, td, th {
  vertical-align: middle;
}

.course-table {
  table-layout: fixed;
}

.course-table th,
.course-table td {
  word-wrap: break-word;
}

/* Course / Name / Professor / Grade */
.course-table th:nth-child(1),
.course-table td:nth-child(1) {
  width: 18%;
}

.course-table th:nth-child(2),
.course-table td:nth-child(2) {
  width: 47%;
}

.course-table th:nth-child(3),
.course-table td:nth-child(3) {
  width: 23%;
}

.course-table th:nth-child(4),
.course-table td:nth-child(4) {
  width: 12%;
}

/* Center grades */
.course-table th:nth-child(4),
.course-table td:nth-child(4) {
  text-align: center;
}

.course-table thead th {
  border-bottom: 2px solid var(--global-border-color);
}

.author__avatar img {
  border-radius: 6px !important;
}
